code/
sshd/
.git/
.gitignore
.gitmodules
README.md
docker-compose.yml
code-server-autoinstall/bin/
code-server-autoinstall/code-server/
code-server-autoinstall/extensions/
code-server-autoinstall/patch/
code-server-autoinstall/user-data/
code-server-autoinstall/.gitignore
code-server-autoinstall/installed-version
code-server-autoinstall/last-check
code-server-autoinstall/config.yaml
code-server-autoinstall/.git/
dind/
router-data/
tinyauth-data/
node_modules
router/frontend/node_modules
router/frontend/dist
webmanager/frontend/node_modules
webmanager/frontend/dist
webmanager/backend/webmanager
router/backend/router-manager
