[submodule "code-server-autoinstall"]
	path = code-server-autoinstall
	url = https://github.com/qwreey/code-server-autoinstall
[submodule "envmigrate"]
	path = envmigrate
	url = https://github.com/qwreey/envmigrate
