[submodule "code-server-autoinstall"]
	path = code-server-autoinstall
	url = https://github.com/qwreey/code-server-autoinstall
[submodule "envmigrate"]
	path = envmigrate
	url = https://github.com/qwreey/envmigrate
[submodule "router"]
	path = router
	url = https://github.com/qwreey/router-docker
[submodule "code-dind"]
	path = code-dind
	url = https://github.com/qwreey/dind-authz-docker
