code/
sshd/
/dind/
/router-data/
/tinyauth-data/
/node_modules
.env
.env.webmanager
config/*-override*
config/*.override*
config/code-patch/*.override.*
config/supervisord/*.conf
router/config/netgate/*.override.*
router/config/netgate/supervisord/*.conf
router/config/tailscale/*.override.*
