code/
sshd/
/dind/
/router-data/
/node_modules
.allow-test
.env
.env.webmanager
router/.env.router
config/*-override*
config/*.override*
config/code-patch/*.override.*
config/supervisord/*.conf
router/config/netgate/*.override.*
router/config/netgate/supervisord/*.conf
router/config/tailscale/*.override.*
router/config/dns/*.override.*
